name: CI - Build & Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      # Menghasilkan Prisma Client agar tipe data tersedia untuk build
      - name: Generate Prisma Client
        run: npx prisma generate

      # Step Linter dihapus karena sudah otomatis dijalankan saat 'npm run build'
      # Ini menghindari error "Invalid project directory" di GitHub Actions

      - name: Build project
        run: npm run build
        env:
          DATABASE_URL: "postgresql://johndoe:randompassword@localhost:5432/mydb"
          NEXTAUTH_SECRET: "random_secret_for_build_only"
          NEXTAUTH_URL: "http://localhost:3000"
