name: CI - Build & Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./english-quiz
        run: npm install

      - name: Run Linter
        working-directory: ./english-quiz
        run: npm run lint

      - name: Build project
        working-directory: ./english-quiz
        run: npm run build
